@using MusicApp.Data.Models.Enums
@using MusicApp.Web.ViewModels.Notification
@model IEnumerable<NotificationViewModel>

<h2>Your Notifications</h2>

    @if(Model.Any())
    {
    <ul>
        @foreach (var notification in Model)
        {
            <li style="@(notification.IsRead ? "" : "font-weight: bold")">
                @if (notification.Type == NotificationType.Like)
                {
                    <span>@notification.Author liked your song: "@notification.SongTitle"</span>
                }
                else if (notification.Type == NotificationType.Comment)
                {
                    <span>@notification.Author commented on "@notification.SongTitle": "@notification.Message"</span>
                }
                <br />
                <small>@notification.CreatedAt.ToLocalTime().ToString("g")</small> |
                @if (!notification.IsRead)
                {
                    <a href="@Url.Action("MarkAsRead", "Notifications", new { id = notification.Id })">Mark as Read</a>
                }
            </li>
        }

    </ul>
    }
    else
    {
        <p>You don't have any notifications yet.</p>
    }
    
