@using MusicApp.Data.Models
@model IEnumerable<Playlist>

@{
    ViewData["Title"] = "Your Playlists";
}

<link href="~/css/playlistsIndexStyle.css" rel="stylesheet" />
<link href="~/css/songIndexStyle.css" rel="stylesheet" />

<h2>Your Playlists</h2>

<a asp-action="New" class="btn btn-primary mb-3" id="btn-playlist">New Playlist</a>

@if (!Model.Any())
{
    <p>You don't have any playlists yet.</p>
}
else
{
    <div class="playlist-container">
        @foreach (var playlist in Model)
        {
            <div class="playlist-card">
                <img src="@playlist.ImageUrl" alt="@playlist.Title" class="playlist-image" />
                <div class="playlist-title">@playlist.Title</div>

                <div class="buttons">
                    <button type="button" class="details-button"
                            data-bs-toggle="modal"
                            data-bs-target="#playlistDetailsModal"
                            data-id="@playlist.Id">
                        View
                    </button>

                    <a asp-action="Delete" asp-route-id="@playlist.Id" class="delete-button">Delete</a>
                </div>

            </div>
        }
    </div>
}
